.nav_cards {
    p {
        max-width: 90ch;
    }
    &__cards {
        display: grid;
        gap: 1rem;
        @media (min-width:768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width:992px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &__card {
        text-decoration: none;
        border: 1px solid var(--col-grey-200);
        border-radius: 0.5rem;
        overflow: hidden;
        height: 100%;
        img {
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
        h3 {
            color: var(--col-blue-400);
            transition: color var(--transition);
        }
        &:hover h3 {
            color: var(--col-orange-400);
        }
    }
    &__detail {
        padding: 1rem;
        color: black;
    }
}